/* http://zurb.com/playground/foundation-icon-fonts-3 */
.fi-xlarge{ font-size: 72px; line-height: 72px; }
.fi-large{ font-size: 50px; line-height: 50px; }
.fi-medium { font-size: 35px; padding: 0 5px; }
.fi-small { font-size: 20px; padding: 0 5px; }

.social {
	vertical-align: middle;
	font-size: 1px;
}
.social span {
	display: inline-block;
	min-width: 75px;
}
