        <!-- Google AdSense: Tripple -->
        <div class="advert">
          <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- nazrulhisham 234 x 60 - Half Banner 1 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:234px;height:60px"
                 data-ad-client="ca-pub-2988624169510995"
                 data-ad-slot="5507650283"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- nazrulhisham 234 x 60 - Half Banner 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:234px;height:60px"
                 data-ad-client="ca-pub-2988624169510995"
                 data-ad-slot="2888601085"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- nazrulhisham 234 x 60 - Half Banner 3 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:234px;height:60px"
                 data-ad-client="ca-pub-2988624169510995"
                 data-ad-slot="4365334289"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </center>
        </div>
