        <!-- Google AdSense: Single -->
        Hello World! 1x
        <div class="advert">
          <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- nazrulhisham 468 x 60 - Banner -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-2988624169510995"
                 data-ad-slot="8935134687"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </center>
        </div>
