<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        <center>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- nazrulhisham 234 x 60 - Half Banner 1 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:234px;height:60px"
               data-ad-client="ca-pub-2988624169510995"
               data-ad-slot="5507650283"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- nazrulhisham 234 x 60 - Half Banner 2 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:234px;height:60px"
               data-ad-client="ca-pub-2988624169510995"
               data-ad-slot="2888601085"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- nazrulhisham 234 x 60 - Half Banner 3 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:234px;height:60px"
               data-ad-client="ca-pub-2988624169510995"
               data-ad-slot="4365334289"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </center>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {% include bottom.html %}

  </body>
</html>
